body{
    position: absolute;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    top: 0;
    position: absolute;
    display: flex;
    align-items: center;
    background-color: beige;
    padding-top: .25%;
    padding-bottom: .25%;
    position: absolute;
    z-index: 1;
    width: 100%;
}

nav * {
    margin-left: 5%;
}

#fpv-preview
{
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    z-index: 1;
    background-color: #222222e6;
    border-radius: .5rem;
    width: 10%;
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: .5rem;
}

#fpv-preview img{
    width: 100%;
}

#info-overlay{
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    padding-bottom: 5rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #222222e6;
    border-radius: 2rem;
    width: 25%;
    z-index: 1;
    font-size: 2rem;
    color: antiquewhite;
}

#info-overlay form > *{
    display: block;
    margin-top: 10%;
    font-size: 1.5rem;
}

.submit-btn{
    align-self: center;
    width: 30%;
}

.arrow-icon{
    height: 4rem;
}

#controls{
    display: flex;
    flex-direction: column;
}